[Desktop Entry]
Type=Application
Name=ReceiveOSCSendI2C
Exec=xterm -hold -e '/usr/bin/python3 /home/pi/Interstice-FelicieEstienneDorves/Scripts/ReceiveOSCSendI2C.py'